.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
}

 .header__menu {
  padding-left: 50px;
 }
  
.header__links-list {
  display: flex;
  gap: 9px;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.header__links-list-item {
  list-style-type: circle;
  text-decoration: underline;
 
} 

.header__links-list-item_no-bullit {
  list-style-type: none;
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
 
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  max-width: 240px;
  padding-right: 5px;
  margin-right: 85px;
  gap: 3px;
}


/* .header__link {
  
} */

/* .cover {

}

.description {

}

.overlay {

}

.lots {

}

.card {

}

.about {

}

.columns {

}

.first-column {

}

.second-column {

}

.social {

} */