.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 100%;
  margin: 92px 0 90px 0;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  padding-left: 50px;
}

.header__links-list {
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.header__links-list-item {
  text-decoration: underline;
  text-underline-offset: 3px;
  list-style-type: circle;
}

.header__link_active {
  text-decoration: none;
}

li::marker {
  text-indent: 0px;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style-type: none;
}

.header__logo-image {
  width: 135px;
  height: 110px;
  /* margin-top: 8px; */
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  gap: 2.5px;
  max-width: 240px;
  font-style: normal;
}

.address__header {
  margin-right: 85px;
  padding-right: 5px;
}

.address__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.cover {
  position: relative;
  max-width: 100%;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 60%;
  background-color: rgba(0 0 0);
}

.cover__title {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  margin-top: 168px;
  padding-left: 48px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.cover__title__heding {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin-top: 15px;
  padding-right: 50px;
  text-align: center;
}

.aligned-text_right {
  right: 50px;
  margin-top: 18px;
  padding-right: 50px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 104px 50px 50px 50px;
  color: rgb(255, 255, 255);
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  min-width: 256px;
  min-height: 51px;
  border: 1px solid #fff;
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  width: 100%;
  margin: 180px 0px 120px 0px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 64px;
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: stretch;
  gap: 25px;
  margin-right: 24px;
  margin-left: 24px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  list-style-type: none;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 2;
  margin-top: 48px;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  margin-bottom: 48px;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  font-size: 20px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-left: 63px;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.lots__look-more-link-description {
  border-bottom: 1px solid #000;
}

.about {
  display: grid;
  grid-template-columns: 334px 2fr;
  width: 100%;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 24px;
  margin-left: 49px;
}

.about__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 740px 320px 71px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  width: 100%;
  padding-right: 5px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 100%;
  margin-top: 182px;
  font-size: 18px;
}

.footer-address {
  gap: 1px;
  margin-right: auto;
  margin-left: 50px;
  padding-top: 2px;
}

.footer__menu {
  width: 100%;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 49px;
  margin-left: 24px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  border: 1px #000;
}
