.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
}

 .header__menu {
  padding-left: 50px;
}
  
.header__links-list {
  display: flex;
  gap: 9px;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.header__links-list-item {
  list-style-type: circle;
  text-decoration: underline;
} 

.header__links-list-item_no-bullit {
  list-style-type: none;
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  max-width: 240px;
  padding-right: 5px;
  margin-right: 85px;
  gap: 3px;
}

.cover {
  min-height: 757px;
  background-image: url(./../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  opacity: 60%;
  inset: 0;
  background-color: rgba(0 0 0);
  z-index: 1;
}

.cover__title {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 165px 50px 207px 50px;
  display: inline-block;
  margin: 0 auto;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  width: 1000px;
  height: 385px;
}

.aligned-text_left {
  text-align: left;
  top: 165px;
  left: 50px;
}

.aligned-text_center {
  text-align: center;
  top: 300px;
  left: 380.5px;
}

.aligned-text_right {
  text-align: right;
  right: 50px;
}

.letter-spacing-extended {
  letter-spacing: 30px; 
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: absolute;
  width: 100%;
  z-index: 2;
  color: rgb(255, 255, 255);
  padding: 656px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.cover__description-text {
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;

}

.bet-button {
  text-transform: uppercase;
  font-size: 22px;
  width: 256px;
  height: 51px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
}

.lots {
  width: 1052px;
  height: 723px;
  top: 1230px;
  left: 24px;
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  width: 121px;
  height: 47px;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  position: relative;
  list-style-type: none;
}

.card-link {
  height: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  font-size: 22px;
  color: #fff;
  text-decoration: underline;
  text-transform: uppercase;
  z-index: 2;
  margin-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.card__text {
  font-size: 20px;
  color: #fff;
  z-index: 2;
  margin-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
}

.lots__look-more-link {
  display: block;
  width: 192px;
  height: 25px;
  font-size: 20px;
  color: black;
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px solid #000;
}

.about {
  width: 1052px;
  height: 595px;
  top: 2073px;
  left: 24px;
  margin: 120px 24px 180px 24px;
  display: grid;
  grid-template-columns: 334px 2fr;
}

.about__column {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin-left: 26px;
 margin-right: 24px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  top: 35px;
  left: 47px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 35px 765px 320px 47px;
  
}

.about__logo-image {
  width: 148px;
  height: 114px;
  top: 64px;
  left: 46.48px;
  
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 136px;
}

.about__text {
  display: flex;
  flex-direction: column;
  width: 693px;
  height: 312px;
  font-size: 20px;
  padding-right: 5px;
  gap: 24px;
}
