.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
}

.header__menu {
  padding-left: 50px;
}

.header__links-list {
  display: flex;
  gap: 11px;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.header__links-list-item {
  text-decoration: underline;
  list-style-type: circle;
}

li::marker {
  text-indent: 0px;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style-type: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  gap: 3px;
  max-width: 240px;
  margin-right: 85px;
  padding-right: 5px;
}

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(./../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  opacity: 60%;
  background-color: rgba(0 0 0);
}

.cover__title {
  position: absolute;
  z-index: 1;
  display: inline-block;
  margin: 0 auto;
  padding: 165px 50px 207px 50px;
  color: rgb(255, 255, 255);
  text-align: center;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1000px;
  height: 385px;
  font-size: 100px;
  text-align: center;
  text-transform: uppercase;
}

.aligned-text_left {
  top: 165px;
  left: 50px;
  text-align: left;
}

.aligned-text_center {
  top: 300px;
  left: 380.5px;
  text-align: center;
}

.aligned-text_right {
  right: 50px;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 656px 50px 50px 50px;
  color: rgb(255, 255, 255);
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 256px;
  height: 51px;
  border: 1px solid #fff;
  color: rgb(255, 255, 255);
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  top: 1230px;
  left: 24px;
  width: 1052px;
  height: 723px;
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  width: 121px;
  height: 47px;
  margin-bottom: 27px;
  margin-left: 40px;
  color: rgb(0, 0, 0);
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 25px;
}

.lots__card-list-item {
  position: relative;
  width: 334px;
  min-height: 596px;
  list-style-type: none;
}

.card-link {
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card__title {
  z-index: 2;
  margin-top: 48px;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  margin-bottom: 48px;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
  font-size: 20px;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
  background-position: center;
  background-size: cover;
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
  background-position: center;
  background-size: cover;
}

.lots__look-more-link {
  display: block;
  width: 192px;
  height: 25px;
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px solid #000;
  color: black;
  font-size: 20px;
}

.about {
  top: 2073px;
  left: 24px;
  display: grid;
  grid-template-columns: 334px 2fr;
  width: 1052px;
  height: 595px;
  margin: 120px 24px 180px 24px;
}

.about__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 24px;
  margin-left: 26px;
}

.about__logo {
  top: 35px;
  left: 47px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 765px 320px 47px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  top: 64px;
  left: 46.48px;
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 136px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 693px;
  height: 312px;
  padding-right: 5px;
  font-size: 20px;
}

.footer {
  top: 2848px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 1100px;
  height: 180px;
  font-size: 18px;
}

.footer-address {
  gap: 4px;
  height: 98px;
  margin-right: 79px !important;
  padding-right: 0 !important;
}

.header__link__footer {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.footer__menu {
  width: 163.9px;
  height: 64px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.7px;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  height: 48px;
  margin-left: 24px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border: 1px #000;
}
