.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  height: 293px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
}

 .header__menu {
  padding-left: 50px;
}
  
.header__links-list {
  display: flex;
  gap: 9px;
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.header__links-list-item {
  list-style-type: circle;
  text-decoration: underline;
} 

.header__links-list-item_no-bullit {
  list-style-type: none;
  text-decoration: none;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  max-width: 240px;
  padding-right: 5px;
  margin-right: 85px;
  gap: 3px;
}

.cover {
  min-height: 757px;
  background-image: url(./../images/cover.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  opacity: 60%;
  inset: 0;
  background-color: rgba(0 0 0);
  z-index: 1;
}

.cover__title {
  position: absolute;
  z-index: 1;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 165px 50px 207px 50px;
  display: inline-block;
  margin: 0 auto;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 100px;
  text-transform: uppercase;
  text-align: center;
  width: 1000px;
  height: 385px;
}

.aligned-text_left {
  text-align: left;
  top: 165px;
  left: 50px;
}

.aligned-text_center {
  text-align: center;
  top: 300px;
  left: 380.5px;
}

.aligned-text_right {
  text-align: right;
  right: 50px;
}

.letter-spacing-extended {
  letter-spacing: 30px; 
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: absolute;
  width: 100%;
  z-index: 2;
  color: rgb(255, 255, 255);
  padding: 656px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.cover__description-text {
  text-transform: uppercase;
  font-size: 22px;
  word-spacing: 18px;

}

.bet-button {
  text-transform: uppercase;
  font-size: 22px;
  width: 256px;
  height: 51px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid #fff;
}




/* .lots {

} */

/* .card {

} */

/* .about {

} */

/* .columns {

} */

/* .first-column {

} */

/* .second-column {

} */

/* .social {

} */ 